<div class="flex-center">
    <img class="img" src="assets/img/white-logo.png" alt="logo">
</div>

<div class="search-flex-center">
    <div class="box">
        <form action="">
            <input type="search" [(value)]="value" (click)="buscar()">
            <i class="fa fa-search"></i>
        </form>
    </div>
</div>

<div *ngFor="let n of arrVagas">
    <h1 *ngIf="n === 'BFF'">{{n}}</h1>
</div>


<div class="resultado-flex-center">
    <div class="row">
        <h4>RESULTADO DA BUSCA!</h4>
    </div>
</div>
<br>
<div class="card-flex-center">
    <div class="card-padding">
        <div class="card-container">
            <span class="pro">{{vagas.id}}</span>
            <h3>{{vagas.name}}</h3>
            <h6>{{vagas.city}}</h6>
            <p>{{vagas.salary}}</p>
            <div class="buttons">
                <button (click)="openDialog()" class="primary ghost">Candidatar</button>
            </div>
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>{{vagas.skills[1]}}</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer>
    <p>
        TOTVS projeto desafio<i class="fa fa-heart"></i>
        <a target="_blank" href="https://github.com/BeatrizGivisiez/desafio-frontend/blob/master/README.md">
            frontend</a>
        - Desenvolvido por
        <a target="_blank" href="https://www.linkedin.com/in/beatriz-givisiez/">Beatriz Givisiez</a>
    </p>
</footer>