<div class="flex-center">
    <img class="img" src="assets/img/logo.png">
</div>

<br>
<br>

<div class="box">
    <form action="">
        <input type="search">
        <i class="fa fa-search"></i>
    </form>
</div>

<br>

<mat-form-field class="example-form-field">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" [(value)]="value">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>


<BR>
<div class="card">
    <mat-card>Simple card</mat-card>
</div>
<br>