/* GLOBAL STYLES FLEXBOX */ 
* { box-sizing: border-box; }
html { height: 100%; }

body { 
    height: 100%;
    background-color: #1F1A36;
    margin: 0px 50px 50px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 

.item { 
    padding: 2rem; 
    border: 5px solid #87b5ff; 
    border-radius: 3px; 
    font-size: 2em; 
    font-family: sans-serif; 
    font-weight: bold; 
    background-color: #1c57b5; 
}